<form action="/mitarbeiter/{{ employee.id|default:"" }}" method="post" 
 class="pure-form pure-form-aligned">
  {% csrf_token %}
  {% for field in form %}
    {% if field.name == "prof_group" %}
      <div class="pure-controls">
        {{ field }}
      </div>
    {% else %}
    <div class="pure-control-group">
      {{ field.label_tag }} 
      {{ field }}
    </div>
    {% endif %}
  {% endfor %}
  {% if employee.is_instructor %}
  <div class="pure-u-1">
    <h3>Kann einweisen in:</h3>
    {% for device in devices %}
    <div>{{ device }} </div>
    {% empty %}
    <div>Keine Geräte.</div>
    {% endfor %}
  </div>
    
  {% endif %}
  <div class="pure-controls">
    <button type="submit">Speichern</button>
  </div>
</form>
