<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a href="/mitarbeiter" class="pure-menu-link">Mitarbeiter</a>
    </li>
    <li class="pure-menu-item">
      <a href="/geraete" class="pure-menu-link">Geräte</a>
    </li>
    <li class="pure-menu-item">
      <a href="/gruppen" class="pure-menu-link">Berufsgruppen</a>
    </li>
    <li class="pure-menu-item">
      <a href="/einweisung" class="pure-menu-link">Neue Einweisung</a>
    </li>
    <li class="pure-menu-item">
      <a href="/ersteinweisung" class="pure-menu-link">Neue Ersteinweisung</a>
    </li>
    <li class="pure-menu-item">
      <a href="/accounts/logout" class="pure-menu-link">Abmelden</a>
    </li>
  </ul>
</div>  
