{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="de" dir="ltr">
	<head>
    <title>{% block title %} Intensivmedizin Klinikum Hann. Münden {% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block description %}
      Webservices der Intensivmedizin KHMUE
    {% endblock description %}">

    {% block extrahead %}{% endblock extrahead %}
		{% tailwind_css %}
	</head>

  <body>
  <div class="px-2 md:px-4">
    {% block navigation %}Navigation {% endblock navigation %}
    <div role="main" id="main-content" class="px-2">
      {% block content %} {% endblock content %}
    </div>
  </div> <!-- /.container -->

    {% block extracontent %}
    {% endblock extracontent %}

    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
    {% block extrascripts %}
    {% endblock extrascripts %}
  </body>
</html>
