{% extends "geraete/base.html" %}

{% block content %}
<h2>Mitarbeiter</h2>
<div id="employees">
{% include "geraete/employees_list.html" %}
</div>

<h2>Geräte</h2>
<div>
{% for device in devices %}
  {% ifchanged  %}
    <div class="">{{ device.category }}</div>
  {% endifchanged %}
  <div>{{ device.name }}</div>
  <div>{{ device.vendor }}</div>
{% endfor %}
</div>

<h2>Einweisungen</h2>
{% for instruction in instructions %}
  <div>{{ instruction }} durch {{ instruction.instructor }} </div>
{% endfor %}

{% endblock content %}