{% extends "geraete/base.html" %}
{% load widget_tweaks %}
{% block content %}
  
<form action="/einweisung" method="post" class="">
  {% csrf_token %}
  <div>{{ form.day.label }}<br>{{ form.day }}<br>{{ form.day.errors }}</div>
  <div>
    <div>{{ form.instructor.label }}</div>
    <div>{{ form.instructor }}</div>
    <div>{{ form.instructor.errors }}</div>
  </div>
  <div>{{ form.instructed.label }}<br>{{ form.instructed }}<br>{{ form.instructed.errors }}</div>
  <div>{{ form.devices.label }}</div>
  <div id="devices">{% include "geraete/instructor_devices.html" %}</div>
  <div>{{ form.devices.errors }}</div>
  
  <button type="submit" class="p-2 text-white bg-blue-400 rounded">Speichern</button>
</form>

{% endblock content %}