{% extends "geraete/base.html" %}
{% block content %}
<h2>Fehlende Einweisungen</h2>
<table>
{% for employee, devices in data %}
  <tr>
    <td>
      <div class="employee">{{ employee }} ({{ devices|length }})
        <div>
          <ul>
            {% for device in devices %}
              <li>{{ device }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </td>
    <td>
      <a href="/pass/{{ employee.id }}">Gerätepass</a>
    </td>
  </tr>
{% endfor %}  
</table>

{% endblock content %}
{% block extrascripts %}
<script>
  let employees = document.getElementsByClassName("employee");
  for (var i = 0; i < employees.length; i++) {
    employees[i].onclick = toggle;
  }

  function toggle(e) {
    e.target.classList.toggle("show");
  }
</script>
{% endblock extrascripts %}