{% extends "geraete/base.html" %}
{% block content %}
<h1>Neue Ersteinweisung</h1>
<form action="/ersteinweisung" method="post" class="pure-form pure-form-aligned">
  {% csrf_token %}
  <div class="pure-control-group">{{ form.day.label_tag }}{{ form.day }}<br>
    {{ form.day.errors }}</div>
  <div class="pure-control-group">{{ form.instructor.label_tag }}{{ form.instructor }}<br>
    {{ form.instructor.errors }}</div>
  <div class="pure-control-group">{{ form.device_company.label_tag }}{{ form.device_company }}<br>
    {{ form.device_company.errors }}</div>
  <div class="pure-controls">{{ form.instructed.label_tag }}
    {{ form.instructed.errors }}
    {% for employee, prof_groups, checked in employees %}
      <div class="{{ prof_groups }}">
      <label for="id_instructed_{{ employee.id }}">
        <input type="checkbox" name="instructed" value="1" 
         id="id_instructed_{{ employee.id }}"
         {% if checked %}checked="checked"{% endif %}>
        {{ employee }}
      </label>
      </div>
    {% endfor %}
  </div>
  <div class="pure-controls">{{ form.devices.label_tag }}
    {{ form.devices.errors }}
    {% for device, vendor_slug, checked in devices %}
      <div>
      <label for="id_devices_{{ device.id }}" class="{{ vendor_slug }}">
        <input type="checkbox" name="devices" value="1" 
         id="id_devices_{{ device.id }}"
         {% if checked %}checked="checked"{% endif %}>
        {{ device }}
      </label>
      </div>
    {% endfor %}
  </div>
  <div class="pure-controls">{{ form.devices.label_tag }}{{ form.devices }}<br>
    {{ form.devices.errors }}</div>
  
  <button type="submit" class="">Speichern</button>
</form>

{% endblock content %}